/* basic elements */
button {
  cursor: pointer;
  color: black;
  background-color: var(--blue);
  font-size: 24px;
  border: none;
  padding: 20px 25px;
}

/* modal classes */
.modal-cancel {
  background-color: blueviolet;
  color: var(--pink);
}

.modal-ok {
  background-color: var(--green);
}

.modal-shade {
  display: none;
  opacity: 0;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.4) 0,
    rgba(0, 0, 0, 0.8) 100%
  );
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  will-change: opacity;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal {
  opacity: 0;
  color: black;

  /* background: none; */
  border-radius: 5px;
  padding: 30px 45px;
  width: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-actions {
  align-self: flex-end;
}

/* modal id's */
#left-modal {
  background-image: url(../img/img5_2.png);
  height: 510px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

#top-modal {
  background-image: url('../img/img2_1.png');
  height: 176px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}
#top-right-modal {
  background-image: url(../img/img3_12.png);
  height: 338px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

#right-modal {
  background-image: url(../img/img6-fade2.png);
  height: 512px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#bottom-modal {
  background-image: url(../img/img7_2_2.png);
  height: 512px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#far-left-modal {
  background-image: url(../img/img4.png);
  height: 512px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#top-left-modal {
  background-color: white;
  height: 512px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#center-modal {
  background-color: white;
  height: 512px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
