<!-- left modal -->
<div id="left-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="left-modal-label"
  aria-hidden="true">
  <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div style="margin: auto; width: 90%; position: relative; top: 5%; left: 2%;">
          <table style="margin-bottom: -5%;">
            <tr>
              <td>
                <h3 style="text-transform: uppercase; text-align: center; color:#1c233b; font-weight: bold; font-size: 16px;">Join
                  us to Encourage Companies to</h3>
              </td>
              <td><img style="width:auto; height:28px; padding-left: 3px; margin-top: -8px;" src="img/img5_3.png" /></td>
            </tr>
          </table>
          <a class="tx-info2" style="color: #dc6859;" href="https://businessintexas.com/" target="_blank">
            <h1 style="text-transform: uppercase; text-align: center; color:#d9242e; font-weight: bold; font-size: 32px;">Go
              Big in Texas</h1>
          </a>
          <h3 style="font-size: 14px;">Texas Economic Development Corporation (TxEDC) is on the front
            lines of Texas' economic development and marketing success. Along
            with the Governor's Office of Economic Development and Tourism
            (EDT), these two highly focused organizations make up the cornerstone
            of <a class="tx-info2" href="https://gov.texas.gov/initiatives/economic-advancement" target="_blank">
              <span style="color:#d9242e; font-weight: bold;">Governor Greg Abbott's economic development agenda.</span></a>
            <br><br>
            As an independently funded and operated 501(c)(3) nonprofit
            organization, TxEDC is made possible through the strong support
            of our stat's top ecomomic development organizations innovative
            companies and privately-held enterprises. Through a robust program
            of national and international investment attraction missions, industry
            events, media relations and advertising, <a class="tx-info2" href="https://businessintexas.com/about/txedc"
             target="_blank"><span style="color:#d9242e; font-weight: bold;">TxEDC spreads the word
                of Texas' business advantages among</span></a> a target audience of corporation
            decision makers and site selection consultants to let them know they
            can <a class="tx-info2" href="https://businessintexas.com/" target="_blank"><span style="color:#d9242e; font-weight: bold">Go
                Big In Texas.</span></a></h3>
        </div>
      </div>
      <div class="close" style="left: 98%;" data-dismiss="modal">&#10006;</div>
    </div>
</div>

<!-- right modal -->


<!-- top left modal -->
<div id="top-left-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="top-left-modal-label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <table>
        <tr>
          <td>
            <img id="top-left-modal-image" src="img/img1_1.png" />
          </td>
          <td>
            <div>
              <img id="gray-dots" src="img/img1_2.png" />
              <a href="http://bxjmag.com/texas-10th-largest-economy-in-the-world/" target="_blank">
                <h1>If Texas were a Nation</h1>
              </a>
              <h2> it would be the 10th largest economy in the world</h2>
            </div>
          </td>
        </tr>
      </table>

      <hr />

      <h3>
        <span>But our size isn't the only reason global companies-including</span>
        <a href="https://businessintexas.com/sites/default/files/05/04/16/texasfortune500.pdf" target="_blank">
          <span class="spanned">50 fortune 500 companies</span>
        </a>
        <span> and </span>
        <a href="https://www.sba.gov/sites/default/files/advocacy/2018-Small-Business-Profiles-TX.pdf" target="_blank">
          <span class="spanned">2.5 million small businesses</span>
        </a>
        <span>-choose to</span>
        <a href="https://businessintexas.com/" target="_blank">
          <span class="spanned">
            go big in texas
          </span>
        </a>
        <span>
          . The lone star state offers a
        </span>
        <a href="https://businessintexas.com/why-texas/skilled-workforce" target="_blank">
          <span class="spanned">skilled workforce of 13+ million people,</span>
        </a>
        <span>
          a business-friendly tax climate and one of the
          nation's top deal-closing incentive programs.
        </span>
      </h3>

      <h3>
        <span> Add that to our </span>
        <a href="https://businessintexas.com/why-texas/infrastructure" target="_blank">
          <span class="spanned">
            central north american location, world-class infrastructure</span>
        </a>
        <span> and </span>
        <a href="https://businessintexas.com/why-texas/quality-life" target="_blank">
          <span class="spanned">
            high quality of life
          </span>
        </a>
        <span>
          and it's no wonder boeing, charles schwab, exxonmobil, hulu, kubota,
          sabic,
          toyota and many more recently chose to expand in texas.
        </span>
      </h3>


    </div>    
  </div>
  <div class="close" data-dismiss="modal"><i class="fas fa-times"></i></div>
</div>




<!-- far left modal -->


<!-- top right modal -->
<div id="top-right-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="center-modal-label"
aria-hidden="true">
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div id="top-right-spinner">
        <img src="../img/img3_2.png" />
      </div>

      <div id="top-right-text"  >

        <a class="top-right-info" href="https://www.forbes.com/sites/emsi/2016/08/26/when-it-comes-to-attracting-skilled-talent-its-texas-and-then-everybody-else/#195548b671b3"
         target="_blank">
          <h1 >
            America's Talent Hub
          </h1>
        </a>

        <div>
          <h3 >
            <span>
                Texas cities, large and small, continue to attract millennials, families and entrepreneurs.
                It's no wonder
            </span> 
            <a class="top-right-info" href="https://www.forbes.com/sites/emsi/2016/08/26/when-it-comes-to-attracting-skilled-talent-its-texas-and-then-everybody-else/#195548b671b3"
             target="_blank">
              <span class="red-bold">
                Forbes
              </span>
            </a>  
              <span>
                  recently declared that "when it comes to
                  attracting skilled talent,
                  it's Texas and then everybody else."
              </span> 
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="close" style="" data-dismiss="modal"><i class="fas fa-times"></i></div>
</div>

<!-- center modal  -->
<div id="center-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="center-modal-label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <h3>Quote from Greg Abott:</h3>
     <p><i>"Nostrud do eiusmod amet irure."</i></p>
    </div>    
  </div>
  <div class="close" data-dismiss="modal"><i class="fas fa-times"></i></div>
</div>

<!-- top modal -->


<!-- bottom modal -->