<html>

<head>
  <title>Go Big in Texas</title>
  <!-- 3rd party links -->
  <link rel="stylesheet" href="assets/fontawesome-free/css/all.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <!-- local links -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/modals.css">
</head>

<body>
  <!-- attach other html files, this is just to make the content modular -->
  ${require('./_content.html')}
  ${require('./_modals.html')}
</body>
<!-- script from public-->
<script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="node_modules/popper.js/dist/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>

</html>