<!-- left modal -->


<!-- right modal -->


<!-- top left modal -->
<div id="top-left-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="top-left-modal-label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <table>
        <tr>
          <td>
            <img id="top-left-modal-image" src="img/img1_1.png" />
          </td>
          <td>
            <div>
              <img id="gray-dots" src="img/img1_2.png" />
              <a href="http://bxjmag.com/texas-10th-largest-economy-in-the-world/" target="_blank">
                <h1>If Texas were a Nation</h1>
              </a>
              <h2> it would be the 10th largest economy in the world</h2>
            </div>
          </td>
        </tr>
      </table>

      <hr />

      <h3>
        <span>But our size isn't the only reason global companies-including</span>
        <a href="https://businessintexas.com/sites/default/files/05/04/16/texasfortune500.pdf" target="_blank">
          <span class="spanned">50 fortune 500 companies</span>
        </a>
        <span> and </span>
        <a href="https://www.sba.gov/sites/default/files/advocacy/2018-Small-Business-Profiles-TX.pdf" target="_blank">
          <span class="spanned">2.5 million small businesses</span>
        </a>
        <span>-choose to</span>
        <a href="https://businessintexas.com/" target="_blank">
          <span class="spanned">
            go big in texas
          </span>
        </a>
        <span>
          . The lone star state offers a
        </span>
        <a href="https://businessintexas.com/why-texas/skilled-workforce" target="_blank">
          <span class="spanned">skilled workforce of 13+ million people,</span>
        </a>
        <span>
          a business-friendly tax climate and one of the
          nation's top deal-closing incentive programs.
        </span>
      </h3>

      <h3>
        <span> Add that to our </span>
        <a href="https://businessintexas.com/why-texas/infrastructure" target="_blank">
          <span class="spanned">
            central north american location, world-class infrastructure</span>
        </a>
        <span> and </span>
        <a href="https://businessintexas.com/why-texas/quality-life" target="_blank">
          <span class="spanned">
            high quality of life
          </span>
        </a>
        <span>
          and it's no wonder boeing, charles schwab, exxonmobil, hulu, kubota,
          sabic,
          toyota and many more recently chose to expand in texas.
        </span>
      </h3>


    </div>    
  </div>
  <div class="close" data-dismiss="modal"><i class="fas fa-times"></i></div>
</div>




<!-- far left modal -->


<!-- top right modal -->


<!-- center modal  -->
<div id="center-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="center-modal-label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     stuff
    </div>    
  </div>
  <div class="close" data-dismiss="modal"><i class="fas fa-times"></i></div>
</div>

<!-- top modal -->


<!-- bottom modal -->