<!-- left modal -->
<div id="modals">
  <div id="left-modal-shade" class="modal-shade"></div>
  <div id="left-modal-container" class="modal-container">
    <div id="left-modal" class="modal">
      <h1>Left</h1>
      <p>this is left</p>
      <button id="left-modal-cancel" class="modal-cancel">Cancel</button>
    </div>
  </div>

  <!-- right modal -->
  <div id="right-modal-shade" class="modal-shade"></div>
  <div id="right-modal-container" class="modal-container">
    <div id="right-modal" class="modal">
      <h1>Right</h1>
      <p>this is right</p>
      <button id="right-modal-cancel" class="modal-cancel">Cancel</button>
    </div>
  </div>

  <!-- top left modal -->
  <div id="top-left-modal-shade" class="modal-shade"></div>
  <div id="top-left-modal-container" class="modal-container">
    <div id="top-left-modal" class="modal">
      <h1>top-Left</h1>
      <p>this is top-left</p>
      <button id="top-left-modal-cancel" class="modal-cancel">Cancel</button>
    </div>
  </div>

  <!-- far left modal -->
  <div id="far-left-modal-shade" class="modal-shade"></div>
  <div id="far-left-modal-container" class="modal-container">
    <div id="far-left-modal" class="modal">
      <h1>far-Left</h1>
      <p>this is far-left</p>
      <button id="far-left-modal-cancel" class="modal-cancel">Cancel</button>
    </div>
  </div>

  <!-- top right modal -->
  <div id="top-right-modal-shade" class="modal-shade"></div>
  <div id="top-right-modal-container" class="modal-container">
    <div id="top-right-modal" class="modal">
      <h1>top-right</h1>
      <p>this is top-right</p>
      <button id="top-right-modal-cancel" class="modal-cancel">Cancel</button>
    </div>
  </div>

  <!-- center modal  -->
  <div id="center-modal-shade" class="modal-shade"></div>
  <div id="center-modal-container" class="modal-container">
    <div id="center-modal" class="modal">
      <h1>center</h1>
      <p>this is center</p>
      <button id="center-modal-cancel" class="modal-cancel">Cancel</button>
    </div>
  </div>

  <!-- top modal -->
  <div id="top-modal-shade" class="modal-shade"></div>
  <div id="top-modal-container" class="modal-container">
    <div id="top-modal" class="modal">
      <h1>top</h1>
      <p>this is top</p>
      <button id="top-modal-cancel" class="modal-cancel">Cancel</button>
    </div>
  </div>

  <!-- bottom modal -->
  <div id="bottom-modal-shade" class="modal-shade"></div>
  <div id="bottom-modal-container" class="modal-container">
    <div id="bottom-modal" class="modal">
      <h1>bottom</h1>
      <p>this is bottom</p>
      <button id="bottom-modal-cancel" class="modal-cancel">Cancel</button>
    </div>
  </div>

</div>